<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Encurtador</title>
</head>
<body>
  <nav>
    <div id="nav-start-container">Encurtador</div>
    <div id="nav-center-container"></div>
    <div id="nav-end-container">
      <div class="button button-signup">sign up</div>
      <div class="button">login</div>
    </div>
  </nav>
  <main class="link" id="link">
    <div class="link__form-container">
      <div><label>Link para encurtar</label></div>
      <div>
        <form action="/link" method="POST" class="link__form" id="link__form">
          <input type="text" name="original_link" id="original_link">
          <button type="submit">encurtar</button>
        </form>
      </div>
    </div>
  </main>
</body>
<script type="module" src="/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>