<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Encurtador</title>
</head>
<body>
  <div>
    <p>Link para encurtar</p>
    <form action="/link" method="POST" name="originalLinkForm" id="originalLinkForm">
      <input type="text" name="originalLink" id="originalLink">
      <button type="submit">encurtar</button>
    </form>
  </div>
</body>
<script src="/js/index.js"></script>
</html>