<%- include('./include/head') %>
</head>
<body>
  <%- include('./include/nav') %>
  <main class="link" id="link">
    <div class="link__form-container">
      <form action="/link" method="POST" class="link__form" id="link__form">
        <div class="link__form-field">
          <label>Link para encurtar</label>
          <input type="text" name="original_link" id="original_link">
        </div>
        <div class="link__form-field">
          <button type="submit">encurtar</button>
        </div>
      </form>
    </div>
  </main>
</body>
<%- include('./include/tail') %>