* {
  box-sizing: border-box;
  font-size: 1.5vh;
}

body {
  padding: 8px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
}

.link__short-link {
  text-decoration: none;
  color: black;
  padding: 2px;
  transition: all 0.25s;
}

.link__short-link:hover {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 2px;
  border-radius: 3px;
}

.link__form-container, .link__short-link-container {
  margin-bottom: 0.5vh;
}