<nav>
  <div id="nav-start-container"><a href="/">Encurtador</a></div>
  <div id="nav-center-container"></div>
  <div id="nav-end-container">
    <a href="/account/signup" id="signup" class="button button-signup">sign up</a>
    <a href="/account/login" id="login" class="button">login</a>
  </div>
</nav>