<nav>
  <div id="nav-start-container">Encurtador</div>
  <div id="nav-center-container"></div>
  <div id="nav-end-container">
    <div id="signup" class="button button-signup">sign up</div>
    <div id="login" class="button">login</div>
  </div>
</nav>